.header {
	width: 100%;
	padding: 0;
	background: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	content: "";
	display: table;
	clear: both;
	nav {
		font-size: 100%;
		a {
			display: inline-block;
			padding: 0 15px;
			min-width: 50px;
			text-align: center;
			background: rgba(255,255,255,0);
			text-decoration: none;
			will-change: background-color;
		}
	}
	.mainNav {
		margin-left: auto;
		a {
			color: #FFF;
			height: 56px;
			line-height: 56px;
			&:hover,
			&:active{
				background: rgba(0,0,0,0.2);
			}
			&.active {
				background: rgba(0,0,0,0.4);
			}
		}
	}
	.smallNav {
		a {
			color: #00245e;
			font-size: 14px;
			line-height: 34px;
			font-weight: 600;
			&:hover,
			&:active{
				background: rgba(0,0,0,0.2);
			}
			&.active {
				background: rgba(0,0,0,0.4);
			}
			&.signup {
				font-size: 11px;
				font-weight: 700;
				background-color: #00e2dc;
			}
		}
	}
}